<template>
    <div class="page channels-page page-current">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="title">
                    Intro to Javascript
                </div>
            </div>
        </div>

        <div class="page-content">

            <div class="block-title">
                <a href="#" class="link">Channels</a>
                <a href="#" class="link">
                    <i class="icon f7-icons">plus_circle</i>
                </a>
            </div>
            <div class="list no-chevron">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">#</div>
                            <div class="item-inner">
                                <div class="item-title">general</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">#</div>
                            <div class="item-inner">
                                <div class="item-title">random</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">#</div>
                            <div class="item-inner">
                                <div class="item-title">github</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="block-title">
                <a href="#" class="link">Direct Messages</a>
                <a href="#" class="link">
                    <i class="icon f7-icons">add_round</i>
                </a>
            </div>
            <div class="list no-chevron">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">
                                <i class="icon f7-icons text-color-green">heart_fill</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Trybot</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">
                                <i class="icon f7-icons text-color-green" style="font-size: 10px">circle_fill</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">johndoe</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">
                                <i class="icon f7-icons" style="font-size: 10px">circle</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">nolimits4web</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="list no-chevron">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-media">
                                <i class="icon f7-icons icon-add">plus_circle</i>
                            </div>
                            <div class="item-inner">
                                <div class="item-title">Invite people</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>




        </div>
    </div>
</template>

<script>
    // first we import super class
    import { SpaceComponent } from 'space-mvc';

    // we need to export extended class
    export default class extends SpaceComponent {

        // hooks
        beforeCreate() {
        }
        mounted() {
        }

        beforeDestroy() {
        }

    }
</script>