<template>
    <div class="page channels-page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="title">

                </div>
            </div>
        </div>

        <div class="page-content">
        </div>
    </div>
</template>

<script>
    // first we import super class
    import { SpaceComponent } from 'space-mvc';

    // we need to export extended class
    export default class extends SpaceComponent {

        // hooks
        beforeCreate() {
        }
        mounted() {
        }

        beforeDestroy() {
        }

    }
</script>